In [ ]:
import pandas as pd

# Define chunk size (e.g., 100,000 rows at a time)
chunk_size = 100000

# Initialize an empty list to store results
results = []

# Process file in chunks
for chunk in pd.read_csv("author_term_relationships.csv", chunksize=chunk_size):
    # Perform desired operations on the chunk
    grouped = chunk.groupby(["Author", "Term1", "Term2"], as_index=False).sum()
    
    # Append the processed chunk to results
    results.append(grouped)

# Combine all processed chunks into a single DataFrame
final_df = pd.concat(results)

# Save the final DataFrame to a compressed CSV
final_df.to_csv("processed_large_file.csv", index=False, compression="gzip")

In [ ]:
filtered_chunk = chunk[chunk["Co-occurrence Count"] > 1]

In [ ]:
top_terms = final_df.groupby("Author").apply(lambda x: x.nlargest(10, "Co-occurrence Count"))

In [ ]:
top_terms

In [ ]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=5)
clusters = kmeans.fit_predict(final_df[["Co-occurrence Count"]])
final_df["Cluster"] = clusters

In [ ]:
final_df

In [6]:
final_df.head(10)

        Author Term1           Term2  Co-occurrence Count  Cluster
0  A. P. Sakis     a        achieved                    1        2
1  A. P. Sakis     a          active                    1        2
2  A. P. Sakis     a      additional                    1        2
3  A. P. Sakis     a         alireza                    1        2
4  A. P. Sakis     a  althoughoccurs                    1        2
5  A. P. Sakis     a          always                    1        2
6  A. P. Sakis     a    andvariables                    1        2
7  A. P. Sakis     a              ar                    1        2
8  A. P. Sakis     a           areii                    1        2
9  A. P. Sakis     a         arising                    1        2